<div class="area-relative-menu" >
	<section class="menu relative" data-id="relative-layer" >
		<div class="res-point-box" data-id="res-point-box" ></div>
		<div class="move-point-box" data-id="move-point-box" > </div>
	</section>
	<button href="" data-id="center" style="display:none;" >*</button>
	<template data-id="res-point-tpl" >
		<a class="btn res-point" >
			<img src="img/menu/area-res-point-mark.png"></img>
			<span data-id="name" ></span>
		</a>
	</template>
	<template data-id="move-point-tpl" >
		<a class="btn move-point autohide" >
			<img src="img/menu/area-move-mark.png"></img>
			<span data-id="target" > </span>
		</a>
	</template>
</div>
