<div class="area-relative-menu" >
	<section class="menu relative" data-id="relative-layer" >
		<div class="res-point-box" data-id="res-point-box" ></div>
		<div class="move-point-box" data-id="move-point-box" > </div>
	</section>
	<button data-id="center" style="display:none;" >*</button>
	<template data-id="res-point-tpl" >
		<a class="res-point" >
			<img src="/img/menu/area-res-point-mark.png" class="bg animate-scale-in-out" ></img>
			<div class="icon-box animate-scale-in-out" >
				<img class="" src="/img/menu/area-collect-icon.png" style="display:none;" data-id="collect" />
				<img class="" src="/img/menu/area-monster-icon.png" style="display:none;" data-id="monster" />
				<img class="" src="/img/menu/area-boss-icon.png" style="display:none;" data-id="boss" />
			</div>
			<span data-id="name" style="display:none;" ></span>
		</a>
	</template>
	<template data-id="move-point-tpl" >
		<a class="move-point autohide" >
			<img src="/img/menu/area-move-mark.png" class="bg" ></img>
			<img class="icon" src="/img/menu/area-boss-icon.png" style="display:none;" data-id="guardians" />
			<span data-id="target" > </span>
		</a>
	</template>
</div>
