<div class="area-menu menu">
	<link rel="stylesheet" href="css/area.css" type="text/css"/>
	<div data-id="relative-wrapper" ></div>
	<div data-id="title-box" class="title-box" >
		<h1 data-id="title" class="title">title</h1>
		<hr />
	</div>
	<a class="btn" data-id="backpack" id="backpack-btn"><img src="img/menu/area-backpack-btn.png"></img></a>
	<a class="btn move-arrow" id="move-left" data-id="move-left" ><img src="img/menu/arrow-left.png"></img></a>
	<a class="btn move-arrow" id="move-right" data-id="move-right" ><img src="img/menu/arrow-right.png"></img></a>
</div>
