<div class="menu backpack">
	<div class="header">
		<div class="header-tabs">
			<div class="tab">
				<span class="unFocused-mark"> </span>
				<span>状态</span>
			</div>
			<div class="tab active">
				<span class="unFocused-mark"> </span>
				<span>物品</span>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="border top">
			<img src="img/menu/backpack-border-fl.png" class="lt">
			<img src="img/menu/backpack-border-fl.png" class="rt">
			<span class="tab-name" data-id="tab-name" >全部素材</span>
			<span class="num" data-id="storage" >2/25</span>
		</div>
		<div class="border bottom">
			<img src="img/menu/backpack-border-fl.png" class="lb">
			<img src="img/menu/backpack-border-fl.png" class="rb">
		</div>
		<div class="realContent">
			<div class="tabs type-switch" data-id="type-switch" >
				<div class="tab"  data-id="item-tab" value="item">
					<span class="unFocused-mark">物品</span>
					<img src="img/menu/backpack-main-tab-all.png">
				</div>
				<div class="tab" data-id="supplies-tab" value="supplies">
					<span class="unFocused-mark">消耗品</span>
					<img src="img/menu/backpack-main-tab-all.png">
				</div>
				<div class="tab" data-id="equipments-tab" value="equipment">
					<span class="unFocused-mark">装备</span>
					<img src="img/menu/backpack-main-tab-all.png">
				</div>

				<div class="tab exit-btn" data-id="exit-btn" >
					<h3>退出</h3>
				</div>
			</div>
			<div class="item-list-wrapper" >
				<ul class="item-list" data-id="item-list" >
				</ul>
			</div>
			<div class="wrapper" data-id="item-details-box-wrapper" id="item-details-box-section">
			</div>
		</div>
	</div>
</div>

