<div class="menu battlefield-menu" >
	<link rel="stylesheet" href="css/battlefield.css" type="text/css" />
	<section class="speed-bar-box panel-wrapper" >
		<div class="speed-bar" ><span class="speed-bar-inner" ></span></div>
		<ul class="speed-item-list" data-id="speed-item-list" >
		</ul>
		<template data-id="speed-item-tpl" >
			<li class="speed-item" >
				<img src="/img/menu/bf-speed-item-bg.png" class="speed-item-bg" />
				<div class="icon-wrapper" >
					<img src="" class="icon" data-id="icon" />
				</div>
			</li>
		</template>
	</section>
	<section class="action-box" data-id="action-box">
		<div class="status-box panel-wrapper" data-id="status-box" >
			<img src="img/menu/bf-status-box-bg.png"  />
			<div class="life-bar" data-id="life-bar" >
				<span data-id="life-inner" class="life-inner" ></span>
				<span data-id="life-text" class="life-text" >100/100</span>
			</div>
			<div class="action-btns" data-id="action-btns" >
				<a id="attack-btn" data-id="attack-btn" >
					<img src="img/menu/bf-attack-btn.png"/>
					<span >攻击</span>
				</a>
				<a id="defense-btn" data-id="defense-btn" >
					<img src="img/menu/bf-defense-btn.png"/>
					<span >防御</span>
				</a>
				<a id="magic-btn" data-id="magic-btn" >
					<img src="img/menu/bf-magic-btn.png"/>
					<span >施法</span>
				</a>
				<a id="escape-btn" data-id="escape-btn" >
					<img src="img/menu/bf-escape-btn.png"/>
					<span >逃跑</span>
				</a>
			</div>

		</div>
		<section  class="menu-isolation-layer" style="display:none;" data-id="target-select-layer" >
			<ul class="target-select-box" data-id="target-select-box" >
			</ul>
			<template data-id="attack-target-btn-tpl" >
				<li class="target-select-btn attack-target-btn" >
					<img src="/img/menu/bf-attack-btn.png"/>
					<span data-id="name" class="name text" ></span>
				</li>
			</template>
			<template data-id="magic-target-btn-tpl" >
				<li class="target-select-btn spell-target-btn" >
					<img src="/img/menu/bf-magic-btn.png"/>
					<span data-id="name" class="name text" ></span>
				</li>
			</template>
		</section>
		<section data-id="magic-menus" >
			<section  class="menu-isolation-layer" style="display:none;" data-id="spell-select-layer" >
				<div class="spell-select-box-wrapper panel-wrapper" data-id="spell-select-box" >
					<div class="spell-select-box panel" >
						<ul class="spell-list" >
							<li data-id="active-rune" >
								<img src="/img/menu/bf-active-rune.png"/>
								<span class="text" >激活符文</span>
								<small>激活道具中魔法能量攻击或产生效果<small>
							</li>
							<li data-id="defense-rune" >
								<img src="/img/menu/bf-defense-rune.png"/>
								<span class="text" >结界符文</span>
								<small>引导道具中魔法能量构成护盾<small>
							</li>
						</ul>
					</div>			
				</div>	
			</section>
			<section class="menu-isolation-layer" style="display:none;" data-id="spell-source-layer" >
				<div class="spell-source-select-box-wrapper panel-wrapper" data-id="spell-source-box" >
					<div class="spell-source-select-box panel" >
						<h2>选择<span data-id="spell-source-type" ></span>原料</h2>
						<ul class="enchanted-spell-list" >
						</ul>
						<ul class="item-list" data-id="spell-source-list" > </ul>
						<template data-id="item-tpl" >
							<li class="spell-source-item" >
								<img src=""  data-id="img" />
								<span data-id="name" ></span>
							</li>
						</template>
						<template data-id="enchanted-spell-tpl"  >
							<li class="enchanted-spell" >
								<span data-id="img-wrapper" >
									<img src="" data-id="img"  />
								</span>
								<span data-id="name" ></span>
							</li>
						</template>
					</div>			
				</div>
				<div  data-id="item-details-box-wrapper" class="wrapper" >
				</div>			
			</section>			
		</section>
	</section>
</div>
