<div class="menu battlefield-menu" >
	<link rel="stylesheet" href="css/battlefield.css" type="text/css" />
	<section class="speed-bar-box panel-wrapper" >
		<div class="speed-bar" ><span class="speed-bar-inner" ></span></div>
		<ul class="speed-item-list" data-id="speed-item-list" >
		</ul>
		<template data-id="speed-item-tpl" >
			<li class="speed-item" >
				<img src="/img/menu/bf-speed-item-bg.png" class="speed-item-bg" />
				<div class="icon-wrapper" >
					<img src="" data-id="icon" />
				</div>
			</li>
		</template>
	</section>
	<section class="action-box" data-id="action-box" style="display:none;" >
		<div class="status-box panel-wrapper" >
			<img src="img/menu/bf-status-box-bg.png"  />
			<div class="life-bar" data-id="life-bar" >
				<span data-id="life-inner" class="life-inner" ></span>
				<span data-id="life-text" class="life-text" >100/100</span>
			</div>
		</div>
		<div class="action-btns" >
			<a id="attack-btn" data-id="attack-btn" >
				<img src="img/menu/bf-attack-btn.png"/>
				<span >攻击</span>
			</a>
			<a id="defense-btn" data-id="defense-btn" >
				<img src="img/menu/bf-defense-btn.png"/>
				<span >防御</span>
			</a>
			<a id="magic-btn" data-id="magic-btn" >
				<img src="img/menu/bf-magic-btn.png"/>
				<span >施法</span>
			</a>
			<a id="escape-btn" data-id="escape-btn" >
				<img src="img/menu/bf-escape-btn.png"/>
				<span >逃跑</span>
			</a>
		</div>
		<div class="spell-select-box-wrapper panel-wrapper" style="display:none;" >
			<div class="spell-select-box panel" >
				<ul class="enchanted-item-list" >
				</ul>
				<ul class="spell-list" >
					<li data-id="attack-rune" >
						<img src=""/>
						<span >攻击符文</span>
					</li>
					<li data-id="defense-rune" >
						<img src=""/>
						<span >结界符文</span>
					</li>
				</ul>
				<template data-id="enchanted-item-tpl"  >
					<li >
						<img src="" data-id="icon"  />
						<span data-id="name" ></span>
					</li>
				</template>
			</div>			
		</div>
		<div class="spell-source-select-box-wrapper panel-wrapper" style="display:none;" >
			<div class="spell-source-select-box panel" >
				<div data-id="spell-info-box" class="spell-info-box" >
				</div>
				<ul class="item-list" > </ul>
				<template data-id="item-tpl" >
					<li class="spell-source-item" ><span data-id="name" ></span></li>
				</template>
			</div>			
		</div>
		<div  class="item-details-box-wrapper panel-wrapper" style="display:none;" >
			<div class="item-details-box panel" >
				<div class="head">
					<div class="pic">
						<img src="img/menu/item-details-icon.png">
					</div>
					<div class="right">
						<div class="name-box">
							<p class="name">名称</p>
							<span data-id="name" >鼠尾草</span>
							<hr />
						</div>
						<span class="description" data-id="description" > </span>
					</div>
				</div>
				<div class="details-content-wrapper" style="display:none;" >
					<div class="header-flag">
						<img src="img/menu/backpack-flag-details.png">
					</div>
					<div class="details-content">
						<div class="cell traits-box" data-id="traits-box" >
							<p>属性</p>
							<ul class="traits-list" data-id="traits-list" >
							</ul>
						</div>
					</div>
				</div>
				<div class="button-holder">
					<button data-id="use-btn" > <img src="img/menu/backpack-but-use.png"> </button>
					<button data-id="collect-btn" > <img src="img/menu/backpack-but-collect.png"> </button>
				</div>
			</div>			
		</div>
		
	</section>
	<section class="target-select-box" >
	</section>
</div>
