<section class="dialog-box-wrapper">
	<div class="dialog-box" data-id="dialog-box" >
		<div class="character-box-left character-box" data-id="character-left-box">
			<img data-id="character" data-id="character-left" />
		</div>
		<div class="character-box-right character-box"  data-id="character-right-box" >
			<img data-id="character-right" />
		</div>
		<div class="content-wrapper animate-popup" data-id="content-wrapper" >
			<div class="content"  data-id="content" >
				<p data-id="speaker" class="speaker" ></p>
				<p data-id="text" class="content-text" ></p>
				<span class="continue-hint " data-id="continue-hint" style="display:none;" >
					<img class="animate-jump-infinity" src="/img/menu/dialog-continue-hint.png"/> 继续
				</span>
				<div class="btn-box" >
				</div>
			</div>
		</div>
	</div>
</section>
