<section class="dialog-box-wrapper">
	<div class="dialog-box" data-id="dialog-box" >
		<section class="character-section" data-id="character-section" >
		</section>
		<template data-id="character-tpl" >
			<div class="character-box">
				<img data-id="img" />
			</div>
		</template>
		<div class="content-wrapper animate-popup" data-id="content-wrapper" >
			<div class="content"  data-id="content" >
				<p data-id="speaker" class="speaker" ></p>
				<p data-id="text" class="content-text" ></p>
				<span class="continue-hint " data-id="continue-hint" style="display:none;" >
					<img class="animate-jump-infinity" src="/img/menu/dialog-continue-hint.png"/> 继续
				</span>
				<div class="btn-box" >
				</div>
			</div>
		</div>
	</div>
</section>
