<section class="dialog-box-wrapper">
	<div class="dialog-box" data-id="dialog-box" >
		<div class="character-box-left character-box" data-id="character-left-box">
			<img data-id="character" data-id="character-left" />
		</div>
		<div class="character-box-right character-box"  data-id="character-right-box" >
			<img data-id="character-right" />
		</div>
		<div class="content-wrapper" data-id="content-wrapper" >
			<div class="content"  data-id="content" >
				<h5 data-id="speaker" ></h5>
				<p data-id="text" ></p>
				<div class="btn-box" >
				</div>
			</div>
		</div>
	</div>
</section>
