<section class="menu guild-menu" >
	<link rel="stylesheet" href="css/shop.css" type="text/css" />
	<section class="mission-box" data-id="mission-box" style="display:none;" >
		<div class="mission-list-wrapper" >
			<ul class="mission-list" data-id="mission-list" >
			</ul>
			<a data-id="end-mission" class="btn" >结束</a>
			<template data-id="mission-list-item-tpl" >
				<li class="mission-list-item" >
					<img src="/img/menu/mission-item-bg.png"  class="bg" />
					<span data-id="status" class="status" >进行中</span>
					<!-- <span data-id="type" class="sub-title" >主线任务</span> -->
					<span data-id="name" class="name" >露娜的烦恼1</span>
				</li>
			</template>
		</div>
	</section>
	<section class="service-option-wrapper popup-box-wrapper" data-id="service-options" style="display:none;" >
		<div class="service-option-box" >
			<a data-id="service-mission" class="btn animate-popup" >任务</a>
			<a data-id="service-conversation" class="btn animate-popup" >对话</a>
			<a data-id="exit" class="btn animate-popup" >离开</a>
		</div>
	</section>
</section>
