<div class="menu home-menu" >
	<link rel="stylesheet" href="css/home.css" type="text/css" />
	<a class="move-arrow" id="move-left" data-id="move-left" >
		<img src="img/menu/arrow-left.png"></img>
	</a>
	<a class="move-arrow" id="move-right" data-id="move-right" >
		<img src="img/menu/arrow-right.png">
	</a>
	<div class="function-btn-box" data-id="function-btn-box" >
	</div>
	<template data-id="function-btn-tpl" >
		<a class="btn function-btn" >
			<p data-id="name" ></p>
		</a>
	</template>
</div>
