<div class="menu" id="home-2nd-floor" data-id="home-2nd-floor" >
	<section data-id="featrue-btns-box">
		<button class="home-option" data-id="downstairs" >
			下楼
		</button>
		<button class="home-option" data-id="work-table" >
			工作台
		</button>
		<button class="home-option" data-id="itemBox" >
			储物箱
		</button>
	</section>
	<section class="work-table-warpper" >
		<section class="source-box-wrapper" >
			<div class="source-box" >
				<ul class="source-list" data-id="source-list" >
				</ul>
			</div>
		</section>
		<section class="bottle" >
		</section>
		<section class="status-box-warpper" >
			<div class="header-box" >
				<h2>属性值列表</h2>
			</div>
			<div class="content" >
				<div class="traits-box" data-id="traits-box" >
				</div>
				<div class="avail-reaction-box" >
					<template data-id="reaction-btn-tpl-2" >
						<span class="floor" ></span>
						<span class="source1" ></span>
						<span class="source2" ></span>
						<span class="target" ></span>
					</template>
				</div>
			</div>
			<a class="finish-btn" data-id="finish-btn" >装瓶</a>
		</section>
	</section>
</div>
