<div class="mission-details-box-wrapper texture-border" data-id="mission-details-box" >
	<div class="mission-details-box inner-panel">
		<h2 data-id="title" class="title" >任务名称</h2>
		<p data-id="status" class="status" >状态</p>
		<p class="description" data-id="description" >任务描述</p>
		<img style="display:none;" src="/img/menu/mission-completed-mark.png" class="completed-mark" data-id="completed-mark" />
		<div class="details-flag-box" >
			<img class="bg" src="/img/menu/backpack-flag-bg.png"  />
			<img class="fg" src="/img/menu/backpack-flag-details.png"/>
		</div>
		<ul class="details-content-list" data-id="details-content-list" >
		</ul>
		<div class="btn-holder" >
			<a class="btn" data-id="active-btn" >接受/完成</a>
		</div>
		<template data-id="content-list-item-tpl"  >
			<li class="content-list-item" >
				<span data-id="type" class="type" ></span>
				<span data-id="content" class="content" ></span>
				<span data-id="completed" class="completed-mark" >已完成</span>
			</li>
		</template>
	</div>
</div>
