<section class="popup-box-wrapper" >
	<div data-id="box" class="popup-box" >
		<div class="inner" >
			<h2 data-id="title" class="title" >标题</h2>
			<h3 data-id="sub-tittle" class="sub-tittle" ></h3>
			<div data-id="content-box" class="content-box" >
				<p data-id="content" class="content" >内容</p>
				<ul data-id="content-list" class="content-list" style="display:none;" >
				</ul>
			</div>
			<div class="footer">
				<a data-id="close" class="btn" >关闭</a>
				<a data-id="accept" class="btn" >确认</a>
			</div>
		</div>
	</div>	
</section>
