<section class="menu shop-menu" >
	<link rel="stylesheet" href="css/shop.css" type="text/css" />
	<section class="left-section" >
		<div class="function-switch">
			<a data-id="playerBuy btn" >购买</a>
			<a data-id="playerSell btn" >出售</a>
		</div>
		<div class="item-list-wrapper texture-border" >
			<h1 data-id="function-title" class="text" ></h1>
			<ul class="item-list" data-id="item-list" >
			</ul>
			<template data-id="item-list-item" >
				<li class="item-list" >
					<span data-id="name" class="text" ></span>
				</li>
			</template>
		</div>
	</section>
	<section class="right-section" data-id="right-section" >
	</section>
	<section class="welcome-option-wrapper popup-box-wrapper" data-id="welcome-options" style="display:none;" >
		<div class="welcome-option-box" >
			<a data-id="welcome-traid" class="btn animate-popup" >交易</a>
			<a data-id="welcome-conversation" class="btn animate-popup" >对话</a>
			<a data-id="welcome-exit" class="btn animate-popup" >离开</a>
		</div>
	</section>
</section>
