<li class="trait-item" >
	<span class="trait-icon" data-id="name" >属性</span>
	<div class="trait-holder lv1" data-id="trait-holder" >
		<span class="lv active" data-id="lv1" >
			<span class="filled lv1"> </span>
		</span>
		<span class="lv" data-id="lv2" >
			<span class="filled lv2"> </span>
		</span>
		<span class="lv" data-id="lv3" >
			<span class="filled lv3"> </span>
		</span>
		<span class="lv" data-id="lv4" >
			<span class="filled lv4"> </span>
		</span>
		<span class="lv" data-id="lv5" >
			<span class="filled lv5"> </span>
		</span>
		<span class="lv" data-id="lv6" >
			<span class="filled lv6"> </span>
		</span>
		<img class="cursor" data-id="cursor" src="/img/menu/backpack-trait-cursor-bg.png"/>
	</div>
</li>
