<section class="menu work-table-wrapper" >
	<section class="source-box-wrapper" >
		<h2>原料列表</h2>
		<div class="source-box" >
			<ul class="source-list" data-id="source-list" >
			</ul>
			<template data-id="source-item-tpl" >
				<li class="source-item" >
					<span data-id="number" class="number" ></span>
					<span data-id="name" class="name" >大地结晶</span>
				</li>
			</template>
		</div>
		<a class="exit-btn btn-primary" data-id="exit-btn" >返回房间</a>		
	</section>
	<section data-id="item-details-box-wrapper" class="wrapper" >
	</section>
	<section class="reaction-box-wrapper" data-id="reaction-box" >
		<div class="title-box" >
			<h2>溶液属性</h2>
		</div>
		<div class="content" >
			<div class="traits-box" data-id="traits-box" >
				<ul data-id="current-traits-list" >
				</ul> 
			</div>
			<div class="avail-reaction-box" >
				<template data-id="reaction-btn-tpl-2" >
					<span class="floor" ></span>
					<span class="source1" ></span>
					<span class="source2" ></span>
					<span class="target" ></span>
				</template>
			</div>
		</div>
		<a class="finish-btn btn-primary" data-id="finish-btn" >装瓶</a>
	</section>
</section>
