<section class="menu work-table-wrapper" >
	<link rel="stylesheet" href="css/worktable.css" type="text/css" />
	<section class="source-box-wrapper" >
		<h2>原料列表</h2>
		<div class="source-box" >
			<ul class="source-list" data-id="source-list" >
			</ul>
			<template data-id="source-item-tpl" >
				<li class="source-item" >
					<span data-id="number" class="number" ></span>
					<span data-id="name" class="name" >大地结晶</span>
				</li>
			</template>
		</div>
		<a class="exit-btn btn-primary" data-id="exit-btn" >返回房间</a>		
	</section>
	<section data-id="item-details-box-wrapper" class="wrapper" >
	</section>
	<section class="reaction-box-wrapper" data-id="reaction-box" >
		<div class="title-box" >
			<h2>溶液属性</h2>
		</div>
		<div class="content" >
			<div class="traits-box" data-id="traits-box" >
				<ul data-id="current-traits-list">
				</ul> 
			</div>
			<div class="avail-reaction-box" data-id="avail-reaction-box" >
				<div data-id="avail-reaction-list" >
				</div>
			</div>
			<template data-id="reaction-btn-tpl-2" >
				<div class="reaction-btn type2 hide">
					<div class="sources-wrapper" >
						<div class="sources animate-rotate-slow">
							<span class="source1 " data-id="source1"></span>
							<span class="source2 " data-id="source2"></span>
						</div>
						<b data-id="?" >?</b>
					</div>
					<span class="target" data-id="target" ></span>
				</div>					
			</template>
			<template data-id="reaction-btn-tpl-3" >
				<div class="reaction-btn type2 hide">
					<div class="sources-wrapper" >
						<div class="sources animate-rotate-slow">
							<span class="source1 " data-id="source1"></span>
							<span class="source2 " data-id="source2"></span>
							<span class="source3 " data-id="source2"></span>
						</div>
						<b data-id="?" >?</b>
					</div>
					<span class="target" data-id="target" ></span>
				</div>					
			</template>
		</div>
		<a class="finish-btn btn-primary" data-id="finish" >装瓶</a>
	</section>
</section>
