<div class="menu">
	<div data-id="map-point-box"  >
		
	</div>
	<button class="map-point" data-id="forest" >
		<p data-id="name" >森林</p>
	</button>
	<button class="map-point" data-id="snowmountain" >
		<p data-id="name" >雪山</p>
	</button>
	<button class="map-point" data-id="town" >
		<p data-id="name" >城镇</p>
	</button>
	<button class="map-point" data-id="home" >
		<p data-id="name" >回家</p>
	</button>
	<div class="map-summary-holder" data-id="map-summary-holder">
		<template data-id="map-point-tpl" >
			<div class="map-summary">
				<p data-id="map-summary-name" class="map-name">hehe</p>
				<div class="map-summary-pic" data-id="map-summary-pic"></div>
			</div>
		</template>
	</div>
		<p class="border lt"></p>
		<p class="border rt"></p>
		<p class="border lb"></p>
		<p class="border rb"></p>
</div> 
