.double-border {
  box-shadow: -2px -2px 0px #ae8f6b inset, 2px 2px 0px #ae8f6b inset;
  border: 2px solid #2a1d0f;
  border-radius: 10px;
}
.backpack {
  width: 1280px;
  height: 720px;
  display: block;
}
.header {
  height: 76px;
  width: 100%;
  display: block;
  background: url(../img/menu/menu-backpack-main-bg.png) repeat-x;
}
.tab {
  cursor: pointer;
  position: relative;
}
.tab.active .unFocused-mark {
  display: none;
}
.tab .unFocused-mark {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.45;
  color: white;
  position: absolute;
}
.tab .unFocused-mark:hover {
  opacity: 0.3;
}
.header-tabs {
  width: 334px;
  height: 100%;
  margin-left: 106px;
  background: #000;
}
.header-tabs .tab {
  width: 167px;
  height: 100%;
  display: block;
  float: left;
  background: url(../img/menu/menu-backpack-top-tab-bg.png);
}
.header-tabs .tab span {
  display: block;
  font-size: 30px;
  color: #f4dabd;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.7);
  text-align: center;
  line-height: 72px;
}
.main {
  height: 664px;
  width: 100%;
  background: url(../img/menu/backpack-main-bg.jpg);
  position: relative;
}
.main .border {
  height: 37px;
  width: 100%;
  display: block;
  position: absolute;
  background: url(../img/menu/backpack-border-bg.jpg);
}
.main .border .lt {
  position: absolute;
  left: 0px;
}
.main .border .rt {
  position: absolute;
  right: 0px;
  -webkit-transform: rotate(90deg);
}
.main .border .lb {
  position: absolute;
  left: 0px;
  -webkit-transform: rotate(270deg);
}
.main .border .rb {
  position: absolute;
  right: 0px;
  -webkit-transform: rotate(180deg);
}
.main .border span {
  color: #f4dabd;
  font-size: 20px;
  line-height: 35px;
}
.main .border .tab-name {
  margin-left: 160px;
}
.main .border .num {
  margin-left: 280px;
}
.main .top {
  top: 0px;
}
.main .bottom {
  bottom: 0px;
}
.realContent {
  margin-top: 36px;
  height: 590px;
  width: 100%;
  display: block;
  position: absolute;
}
.realContent .tabs {
  width: 105px;
  height: 100%;
  float: left;
  position: relative;
}
.realContent .tabs .tab {
  height: 105px;
  width: 100%;
  display: block;
  background: url(../img/menu/backpack-main-tab-bg.png);
  border-radius: 11px;
  overflow: hidden;
}
.realContent .tabs .tab.exit-btn {
  height: 48px;
  position: absolute;
  bottom: 2px;
  background-image: none;
  background-color: #ad8f6e;
  box-shadow: 0 0 4px black;
}
.realContent .tabs .tab.exit-btn:hover {
  background-color: #BBA287;
}
.item-list-wrapper {
  width: 476px;
  height: 100%;
  display: block;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #ad8f6e;
  border-left: 2px solid #2a1d0f;
  border-right: 2px solid #2a1d0f;
}
.item-list-wrapper .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #543d26;
}
.item-list-wrapper .thing-list-item {
  height: 50px;
  border-bottom: 2px solid #674e34;
  font-size: 25px;
  line-height: 49px;
  position: relative;
}
.item-list-wrapper .thing-list-item img {
  width: 50px;
  height: 50px;
  float: left;
}
.item-list-wrapper .thing-list-item .name {
  float: left;
}
.item-list-wrapper .thing-list-item .quatity {
  float: right;
  margin-right: 10px;
}
.item-list-wrapper .thing-list-item.focused {
  background: #907352;
  color: #f4dabd;
}
.item-list-wrapper .thing-list-item:hover {
  background-color: #BBA287;
  cursor: pointer;
}
