@color-text-white:	#f4dabd;
@color-text-brown:	#543d26;
@color-text-black:	#453625;
@color-text-brown-light: #d7ba97;
@color-text-brown-dark: #453625;
@color-text-border: #A58769;
@color-bg-brown-lv1:	#ad8f6e;
@color-bg-brown-lv2:	#907352;
@color-bg-brown-lv3:	#674e34;
@color-border-black:	#2a1d0f;
@color-item-bg: #896b4c;
@color-item-hover: #5d452c;
.transition(@time:.15s,@timingFunc:linear){
		-webkit-transition:@time @timingFunc;
		-o-transition:@time @timingFunc;
		-ms-transition:@time @timingFunc;
		transition:@time @timingFunc;
}
.transform-origin(@x,@y){
		transform-origin:@x @y;
		-webkit-transform-origin:@x @y;
		-moz-transform-origin:@x @y;
		-o-transform-origin:@x @y;
}
.transform(@value){
		transform:@value;
		-webkit-transform:@value;
		-moz-transform:@value;
		-o-transform:@value;
}
.hide{
		display:none;
}
.button-text{
		color:@color-text-brown-dark;
		text-shadow: 0px 2px 0px @color-text-border;
		.transition;
}
.button-text-hover{
		color:#B29271;
		text-shadow:0px -1px 0px #3D3328;
}
.double-border{
		box-shadow:-2px -2px 0px #ae8f6b inset, 2px 2px 0px #ae8f6b inset;
		border: 2px solid @color-border-black;
		//border-radius: 6px;
}
.texture-border{
		.double-border;
		@p:16px;
		background:url("/img/menu/texture-bg.jpg") 0 0 repeat;
		padding:@p;
		padding-right:(@p + 2);
}
.status-box{
		left:0;
		bottom:0;
		width:299px;
		height:290px;
		z-index:1;
		text-align:center;
		.transform-origin(0px,290px);
		.transition;
		.transform(scale(0.9,0.9));
		&.show{
				.transform(scale(1,1));
		}
		.life-bar{
				text-align: left;
				margin: auto;
				position: absolute;
				left: 12px;
				bottom: 12px;
				border: 1px solid;
				border-radius: 9px;
				background-color: rgba(20, 20, 20, 0.2);
				height: 19px;
				box-shadow: inset 0 2px 2px rgba(20, 20, 20, 0.3),0 3px 0px #c1a581;
				width: 70%;
				display: block;
				overflow: hidden;
				.life-inner{
						&.damage{
								background-color:#E71F47;
						}
						.transition(.15s,ease-out);
						width: 100%;
						height: 100%;
						background-color: #43bb54;
						display: inline-block;
						border-radius: 2px;
						box-shadow: inset 0 2px 2px rgba(20, 20, 20, 0.3);
						border-right: 1px solid rgb(38, 80, 32);						
				}
				.life-text{
						position: absolute;
						top:1px;
						right: 9px;
						color: white;
						font-size: 16px;
						text-shadow: 0 2px 0px rgba(20,20,20,0.7);						
				}
		}
		img{
				width:100%;
				height:auto;
		}
}

.action-btns{
		.transform-origin(80px,226px);
		.transform(rotate(-150deg));
		.transition(.3s,ease-out);
		visibility:hidden;
		position:absolute;
		text-align:left;
		left:0;
		bottom:0;
		width:299px;
		height:290px;
		z-index:3;
		&.show{
				visibility:visible;
				.transform(rotate(0deg));
		}
		a{
				position:absolute;
				display:inline-block;
				width:109px;
				height:109px;
				span{
						display:inline-block;
						opacity:0;
						.texture-border;
						position: absolute;
						color: #d7ba97;
						text-shadow: 0px 2px 1px #493927;
						font-size: 19px;
						font-weight: bold;
						padding: 2px 15px;
						right: 17px;
						top: 80px;
				}
				img{
						width:100%;
						height:auto;
						display:inline;
				}
				&:hover{
						span{
								.transition(.15s,linear);
								opacity:1;
						}
				}
		}
		#attack-btn{
				top: -47px;
				left: 3px;
		}
		#defense-btn{
				top: -23px;
				left: 125px;
		}
		#magic-btn{
				top:63px;
				left: 211px;
		}
		#escape-btn{
				bottom: 1px;
				left: 242px;
		}
}
.speed-bar-box{
		width:100%;
		left:0;
		top:20px;
		text-align:center;
		& .speed-item-list,& .speed-bar{
				position:relative;
				width: 980px;
				margin: auto;
				border:2px solid transparent;
		}
		.speed-bar{
				height: 14px;
				border-radius: 7px;
				border: 2px solid #D8B68F;
				background-color: #D8B68F;
				.speed-bar-inner{
						display: block;
						height: 10px;
						border-radius: 6px;
						background-color: #7ae0e9;
						border: 2px solid #274144;
				}
		}
		.speed-item-list{
				left:-30px;
		}
		.speed-item{
				display:inline-block;
				width:50px;
				position:absolute;
				top:0;
				.speed-item-bg{
						display:inline;
						width:100%;
						height:auto;
				}
		}
}
.spell-select-box-wrapper{
		.texture-border;
		position:absolute;
		width: 420px;
		left: 150px;
		top: 150px;
		z-index:2;
		.spell-select-box{
				.double-border;
				background-color:@color-bg-brown-lv1;
				li{
						.double-border;
						cursor:pointer;
						background-color:@color-item-bg;
						display: block;
						margin: 10px;
						padding: 21px;
						span{
								font-size:42px;
								font-weight:bold;
								float:right;
								margin-top:8px;
								margin-right: 62px;
								margin-left: -30px;
								.button-text;
						}
						small{
								.transition;
								float: right;
								margin-top: -4px;
								font-size: 14px;
								margin-right:28px;
								color: @color-text-brown;
						}
						&:hover,&.selected{
								span {
										.button-text-hover;
								}
								background-color:@color-item-hover;
								small{
										color: @color-text-brown-light;
								}
						}
				}
		}
}
.spell-source-select-box-wrapper{
		.texture-border;
		width: 360px;
		height: 580px;
		left: 240px;
		top: 50px;
		z-index:10;
		.spell-source-select-box{
				.double-border;
				background-color:@color-bg-brown-lv1;
				h2{
						color:@color-text-black;
				}
				.enchanted-spell{
						.double-border;
						background-color: @color-item-bg;
						padding: 17px;
						margin:5px;
						cursor:pointer;
						&:hover,&.selected{
								background-color:@color-item-hover;
						}
				}
				.spell-source-item{
						display: block;
						border-top: 2px solid @color-border-black;
						border-bottom: 2px solid @color-border-black;
						padding: 14px;
						font-size: 27px;
						margin-bottom: 3px;
						font-weight: bold;
						background-color:@color-item-bg;
						span{
								.button-text;
						}
						cursor:pointer;
						&:hover,&.selected{
								span{
										.button-text-hover;
								}
								background-color: @color-item-hover;
						}
				}
		}
}
.target-select-box{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		li{
				position:absolute;
				cursor:pointer;
		}
}
.item-details-box-wrapper{
		.texture-border;
		position:absolute;
		right:20px;
		width: 550px;
		top: 45px;
		z-index:10;
		.trait-item{
				.trait-icon{
						margin-left:18px;
				}
				.trait-holder{
						width:360px;
				}
		}
		.item-details-box{
				.double-border;
				margin:0;
				height:507px;
				background-color:@color-bg-brown-lv1;
		}
		.content-wrapper{
				width:auto;
				margin-left:0;
		}
		.name-box{
				width: 270px;
		}
		.button-holder{
				text-align:center;
				margin:auto;
				display:block;
				.btn{
						width:133px;
						float:none;
						padding:20px;
						font-size:27px;
						font-weight:bold;
						.button-text;
						&:hover{
								.button-text-hover;
								background-color: @color-item-hover;
						}
				}
		}
}