.no-user-select{user-select:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
*{font-family:"微软雅黑";user-select:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:moz-none;-ms-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
hr{margin:0;border:none}
.wrapper{position:relative}
p{margin:0}
ul{list-style:none;margin:0;padding:0}
.double-border{box-shadow:-2px -2px 0 #ae8f6b inset,2px 2px 0 #ae8f6b inset;border:2px solid #2a1d0f;border-radius:10px}
template{display:none}
button,a{cursor:pointer}button:active,a:active{border:none;outline:0}
body{background-color:#222 !important}
button{font-size:18px;padding:10px}
body{text-align:center}
#gameCanvas{box-shadow:0 0 8px #000}
#BGLayer{overflow:hidden;background-color:#efefef}
#UILayer{overflow:hidden}#UILayer .menu{position:fixed;left:0;top:0;width:100%;height:100%;z-index:1}
.invisible{visibility:hidden}
.screen{position:fixed;top:0;width:1280px;height:720px}
#loadingPage{padding-top:150px;background-color:#666;color:#fff;width:100%;height:100%;position:absolute;z-index:9999;top:0;left:0}
.popup-box-wrapper{width:100%;height:100%;background-color:rgba(20,20,20,0.3);position:absolute;top:0;left:0;z-index:999}.popup-box-wrapper .popup-box{margin:auto;margin-top:50px;width:400px;min-height:300px;background-color:#632a15;padding:30px;color:#fff}
::-webkit-scrollbar{width:16px;height:16px}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{display:block}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement{display:none}
::-webkit-scrollbar-button:end:increment{background-image:url(../img/menu/scroll_cntrl_dwn.png)}
::-webkit-scrollbar-button:start:decrement{background-image:url(../img/menu/scroll_cntrl_up.png)}
::-webkit-scrollbar-track-piece:vertical:start{background-image:url(../img/menu/scroll_gutter_top.png),url(../img/menu/scroll_gutter_mid.png);background-repeat:no-repeat,repeat-y}
::-webkit-scrollbar-track-piece:vertical:end{background-image:url(../img/menu/scroll_gutter_btm.png),url(../img/menu/scroll_gutter_mid.png);background-repeat:no-repeat,repeat-y;background-position:bottom left,0 0}
::-webkit-scrollbar-thumb:vertical{height:56px;-webkit-border-image:url(../img/menu/scroll_thumb.png) 8 0 8 0 stretch stretch;border-width:8 0 8 0}
