@color-text-white:	#f4dabd;
@color-text-brown:	#543d26;
@color-text-black:	#453625;
@color-bg-brown-lv1:	#ad8f6e;
@color-bg-brown-lv2:	#907352;
@color-bg-brown-lv3:	#674e34;
@color-border-black:	#2a1d0f;
.no-user-select{
		user-select:none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: moz-none;
		-ms-user-select: none;
}
.transition(@time:.2s,@timingFunc:linear){
		-webkit-transition:@time @timingFunc;
		-o-transition:@time @timingFunc;
		-ms-transition:@time @timingFunc;
		transition:@time @timingFunc;
}
*{
		font-family: "微软雅黑"
}
p{
		margin: 0;
}
ul{
		list-style: none;
		margin: 0;
		padding: 0;
}
.double-border{
		box-shadow:-2px -2px 0px #ae8f6b inset, 2px 2px 0px #ae8f6b inset;
		border: 2px solid @color-border-black;
		border-radius: 10px;
}

template{display:none;}
.no-user-select{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,a{
		cursor:pointer;
		&:active{
				border:none;
				outline:0;
		}
}
body, canvas, div {
		.no-user-select;
}
body{
		background-color:#222 !important;
}
button{
		font-size:18px;
		padding:10px;
}
body{
		text-align:center;
}
#gameCanvas{
		//border:1px solid white;
		//background-color:rgba(100,100,100,0.3);
		box-shadow:0 0 8px black;
}
#BGLayer{
		overflow:hidden;
		background-color:#efefef;
}
#UILayer{
		overflow:hidden;
		//background-color:rgba(50,200,50,0.3);
		position:relative;
		.menu{
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				z-index:1
		}
}
.invisible{
		visibility:hidden;
}
.screen{
		position:absolute;
		top:0;
		width:1280px;
		height:720px;
}
#loadingPage{
		padding-top:150px;
		background-color:#666;
		color:white;
		width:100%;
		height:100%;
		position:absolute;
		z-index:9999;
		top:0;
		left:0;
}
.popup-box-wrapper{
		width:100%;
		height:100%;
		background-color:rgba(20,20,20,0.3);
		position:absolute;
		top:0;
		left:0;
		z-index:999;
		.popup-box{
				margin:auto;
				margin-top:50px;
				width:400px;
				min-height:300px;
				background-color:#632A15;
				padding:30px;
				color:white;
		}
}

.lv1{background: #fff;}
.lv2{background: #42e189;}
.lv3{background: #1bd6f1;}
.lv4{background: #ffd220;}
.lv5{background: #ec6334;}
.lv6{background: #cd64c0;}
.traits-life{background: #59a84c;}

/* Turn on a 16x16 scrollbar */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:end:increment {
    background-image: url(../img/menu/scroll_cntrl_dwn.png);
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:start:decrement {
    background-image: url(../img/menu/scroll_cntrl_up.png);
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
    background-image: url(../img/menu/scroll_gutter_top.png), url(../img/menu/scroll_gutter_mid.png);
    background-repeat: no-repeat, repeat-y;
}

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
    background-image: url(../img/menu/scroll_gutter_btm.png), url(../img/menu/scroll_gutter_mid.png);
    background-repeat: no-repeat, repeat-y;
    background-position: bottom left, 0 0;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height: 56px;
    -webkit-border-image: url(../img/menu/scroll_thumb.png) 8 0 8 0 stretch stretch;
    border-width: 8 0 8 0;
}
