@color-text-white:	#f4dabd;
@color-text-brown:	#543d26;
@color-text-black:	#453625;
@color-money:#EBD389;
@color-bg-brown-lv1:	#ad8f6e;
@color-bg-brown-lv2:	#907352;
@color-bg-brown-lv3:	#674e34;
@color-border-black:	#2a1d0f;
@color-item-bg: #896b4c;
@color-item-hover:#bba287;
@color-item-selected: #5d452c;
.lv1{background: #fff;}
.lv2{background: #42e189;}
.lv3{background: #1bd6f1;}
.lv4{background: #ffd220;}
.lv5{background: #ec6334;}
.lv6{background: #cd64c0;}

.life{background: #59a84c !important;}
.water{background: #1E72DF !important;}
.fire{background: #99130E !important;}
.ice{background: #4AAAB8 !important;}
.iron{background: #888 !important;}
.earth{background: #9C7013 !important;}
.heal{background-color: #B6D891 !important;
			color: #4D965E !important;}
.poison{background: #153614 !important;}
.muddy{background: #896b4c !important;}
.clear{background: #549988 !important;}
.minus{background: #444CA2 !important;}
.spirit{background: #912CB1 !important;}
.corrosion{background: #3A4933 !important;}
.boost{background: #C2482A !important;}
.stun{background: #B49828 !important;}
.fog{background: #829695 !important;}
.brave{background:#AC2943 !important;}
.burn{background:#8F2402 !important;}
.explode{background:#A34B30 !important;}
.snow{background:#A5ACB3 !important;
			color:#444 !important;}
.traitTime{background: #0F7468 !important;}
.space{background: #0F4474 !important;}
.money{color:@color-money;}
.text{
		color:#d7ba97;
		text-shadow: 0px 2px 0px #3c2f21;
		font-weight:bold;
}
.transform(@value){
    transform:@value;
    -webkit-transform:@value;
    -moz-transform:@value;
    -o-transform:@value;
}
.filter(@value){
    filter:@value;
    -webkit-filter:@value;
    -moz-filter:@value;
    -o-filter:@value;
}
.double-border{
		box-shadow:-2px -2px 0px #ae8f6b inset, 2px 2px 0px #ae8f6b inset;
		border: 2px solid @color-border-black;
		border-radius: 10px;
}
.texture-border{
		.double-border;
		@p:16px;
		background:url("/img/menu/texture-bg.jpg") 0 0 repeat;
		padding:@p;
		padding-right:(@p + 2);
}
.button-holder{
		width:100%;
		bottom:10px;
		position:absolute;
}
.btn{
		.text;
		.double-border;
		cursor:pointer;
		font-size:23px;
		padding: 20px;
		margin: 15px;
		width: 180px;
		display: inline-block;
		background: @color-bg-brown-lv2;
		&:hover{
				background-color:@color-item-hover;
				color:#E4CCAE;
		}
		&.selected{
				background-color:@color-item-selected;
		}
}
.trait-icon{
		display:inline-block;
		padding-top:1px;
		box-shadow: 0px 1px 0px rgba(255,255,255,0.85) inset;
		font-size: 18px;
		color: @color-text-white;
		text-align: center;
		width:58px;
		height: 24px;
		display: inline-block;
		border-radius: 5px;
		border:	1px solid @color-border-black;
}
.transition(@time:.2s,@timingFunc:ease-out){
		-webkit-transition:@time @timingFunc;
		-o-transition:@time @timingFunc;
		-ms-transition:@time @timingFunc;
		transition:@time @timingFunc;
}
.menu-isolation-layer{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background-color:rgba(20,20,20,0.2);
		z-index:100;
}
.list-item{
		color:#543d26;
		cursor:pointer;
		font-size:23px;
		border-bottom: 2px solid #674e34;
		padding: 20px;
		border-radius:0;
		width:auto;
		display:block;
		margin:0;
		padding:15px;
		.number{
				float:right;
				margin-left:-30px;
		}
		&:hover{
				background-color:@color-item-hover;
		}
		&.selected{
				background: @color-bg-brown-lv2;
				color: @color-text-white;
		}
}
.inner-panel{
		background-color:#ad8f6e;
		border:2px solid #2a1d0f;
		box-shadow:inset 0 0 8px rgba(46, 28, 14, 0.15)
}
.panel-wrapper{
		position:absolute;
		.panel{
				width:100%;
				height:100%;
		}
}
.popup-box-wrapper{
		width:100%;
		height:100%;
		background-color:rgba(20,20,20,0.5);
		position:absolute;
		top:0;
		left:0;
		z-index:999;
		.popup-box{
				.texture-border;
				position:relative;
				margin:auto;
				margin-top:130px;;
				width:400px;
				color:white;
				.content{
						margin:0,10px;
				}
				ul{
						text-align:left;
						margin:auto 30px;
						position:relative;
						li{
								margin-bottom:15px;
								.icon{
										width:40px;
										height:40px;
										float:left;
										margin-left:10px;
								}
								.trait-icon{
										font-size:22px;
										display:inline-block;
										margin-left:10px;
								}
						}
				}
				.inner{
						.double-border;
						background-color:#896b4c;
						min-height:250px;
						position:relative;
						.trait-icon{
								margin:0 2px;
								height:22px
						}
						p{
								font-size:18px;
								color:#35230F;
						}
						.title{
								color: #d7ba97;
								text-shadow: 0 2px 0 #3c2f21;
								font-weight: bold;
						}
						.footer{
								position:absolute;
								bottom:0px;
								width:100%;
								.btn{
										border-radius: 10px;
										width: 115px;
										padding: 15px;
										margin: 10px;
								}
						}
				}
		}
}
.mission-details-box-wrapper{
		.text;
		padding:30px;
		text-shadow:0 3px 0 rgba(20,20,20,0.6);
		&.top{
				position: absolute;
				left: 335px;
				top: 39px;
		}
		.title{
				margin: 15px auto;
				width: 350px;
				font-size: 34px;
				padding: 10px;
				color: #ddc1a4;
				font-weight: bold;
				background-color: rgba(0,0,0,0.2);
				border-radius: 8px;
		}
		p[data-id=status]{
				width: 105px;
				font-size: 20px;
				display: inline-block;
				&.avail{color:#D3C373;}
				&.current{color:#8CC3B4;}
				&.completed{color:#8ED871}
		}
		.description{
				text-align: left;
				margin:18px 30px;
				margin-left: 58px;
				font-size: 21px;
				line-height: 33px;
				text-shadow: 0 3px 0 rgba(0,0,0,0.4);
		}
		.mission-details-box{
				position:relative;
				background-color: #674e34;
				width: 625px;
				height: 560px;
		}
		.content-list-item{
				margin-top: 8px;
				text-align: left;
				font-size: 24px;
				.type{
						color: #f16a6a;
						margin-left: 56px;
						width: 105px;
						display: inline-block;
				}
				.content{
						
				}
				.completed-mark{
						font-weight: normal;
						float: right;
						margin-right: 61px;
				}
		}
		.btn-holder{
				position:absolute;
				width:100%;
				bottom:0;
				left:0;
		}
		.details-flag-box{
				width: 511px;
				margin: auto;
				.fg{
						margin-top:3px;
				}
				.bg{
						display:block;
						margin-bottom:-30px;
				}
		}
}

.item-details-box-wrapper{
		.texture-border;
		width: 640px;
		height: 540px;
		display: block;
		float: left;
}
.item-details-box{
		.double-border;
		position:relative;
		padding-top: 25px;
		width:auto;
		margin:auto;
		height:455px;
		background: @color-bg-brown-lv1;
		color: @color-text-black;
		.content-wrapper{
				width:auto;
				margin:auto;
		}
		.head{
				text-align:left;
				display: inline-block;
				.right{
						float: left;
						margin-left: 50px;
				}
				.remain-count-hint{
						margin-top: 10px;
						font-size: 18px;
				}
				.description{
						width: 340px;
						margin-top: 10px;
						font-size: 18px;
						display: block;
				}
		}
		.pic{
				.double-border;
				padding:5px;
				display: block;
				float: left;
				background: @color-bg-brown-lv2;
				img{
						height:90px;
						width: 90px;
						display: block;
				}
		}
		.name-box{
				width: 340px;
				height: 40px;
				display: block;
				position: relative;
				color: @color-text-brown;
				font-size: 20px;
				text-align: center;
				line-height: 39px;
				.name{
						width: 80px;
						height: 40px;
						border-radius: 5px;
						background: @color-bg-brown-lv2;
						float: left;
				}
				.name-text{
						position: relative;
						float: left;
						margin-left: 30px;
						font-weight: bolder;
				}
				.price{
						.text;
						.money;
				}
				hr{
						display: block;
						height: 2px;
						width: (100%-2);
						position: absolute;
						bottom: 0px;
						left: 2px;
						background: @color-bg-brown-lv2
				}
		}
}
.details-content-wrapper{
		width: 513px;
		margin: 13px auto;
		.header-flag{
				width: 100%;
				height: 31px;
				background: url('/img/menu/backpack-flag-bg.png') no-repeat;
				text-align: center;
				display: inline-block;
				img{
						margin-top: 5px;
				}
		}
}
.details-content{
		width: 100%;
		height: 200px;
		display: block;
		.cell{
				width: 100%;
				display: block;
				border-bottom: 1px dashed @color-text-black;
				border-top: 1px dashed @color-text-black;
				font-size: 18px;
				color: @color-text-black;
				p{
						float: left;
						margin-left: 10px;
				}
		}
		.gather-info{
				height: 40px;
				line-height: 40px;
				.day{
						height: 38px;
						width: 37px;
						display: block;
						&.yes{background: url('/img/menu/backpack-day-yes.png')}
						&.no{background: url('/img/menu/backpack-day-no.png')}
				}
				.night{
						height: 38px;
						width: 37px;
						display: block;
						.yes{background: url('/img/menu/backpack-night-yes.png')}
						.no{background: url('/img/menu/backpack-night-no.png')}
				}

		}
}
.traits-box{
		height: 130px;
		line-height: 105px;
		margin-top:20px;
		.traits-list{
				height: 100%;
		}
}
.trait-item{
		padding: 8px 0px 2px 0px;
		line-height: 24px;
		margin:10px 0;
		height: 20px;
		width: 100%;
		display: block;
		.trait-icon{
				margin:0;
				margin-top:-4px;
				margin-left:10px;
				float:left;
		}
		.trait-holder{
				margin-right:10px;
				float:right;
				width: 230px;
				height: 17px;
				display: inline-block;
				border:	1px solid @color-border-black;
				border-radius: 5px;
				position: relative;
				.cursor{
						.transition;
						height: 23px;
						width: 7px;
						display: block;
						position: absolute;
						top: -3px;
						left: 2px;
				}
		}
		.lv{
				.transition;
				height: 100%;
				display: block;
				float: left;
				width: 5%;
				position:relative;
				background: rgba(0,0,0,0.4);
				.filled{
						.transition;
						float: left;
						height: 100%;
						width:100%;
				}
				&.active{
						width: 75%;
						.filled{
								width:20%;
						}
				}
				.lv1{
						border-radius: 5px 0px 0px 5px;
				}
				.lv6{
						border-radius: 0px 5px 5px 0px;
				}
		}
}
.dialog-box-wrapper{
		position:fixed;
		width:100%;
		z-index:900;
		bottom:0;
		left:0;
		.dialog-box{
				position:absolute;
				bottom:0;
				left:0;
				width:100%;
		}
		.character-section{
				width:100%;
				position: absolute;
				bottom: 165px;
				.character-box{
						position:absolute;
						bottom:0;
						.filter(brightness(0.5));
						img{
								&.shadow{
										.filter(brightness(0));
										opacity:0.9;
								}
						}
						&.left{left:115px;}
						&.right{right:115px;}
						&.speaking{
								z-index:10;
								.filter(brightness(1));
						}
				}
		}
		.content-wrapper{
				z-index:20;
				position:absolute;
				bottom:0;
				width:100%;
				background:url(/img/menu/dialog-bg.png) no-repeat;
				height:209px;
				color:#553e26;
				.content{
						font-size:24px;
						margin: auto;
						margin-top: 38px;
						width: 59%;
						height: 131px;
						text-align:left;
						position:relative;
						.speaker{
								margin-left:-58px;
						}
						.continue-hint{
								position: absolute;
								right: -75px;
								bottom: -8px;
								cursor:pointer;
								img{
										position:relative;
										top:5px;
								}
						}
				}
		}
}
.backpack-btn{
		position:absolute;
		bottom:20px;
		left:20px;
		z-index:100;
}