.shop-menu{
		.left-section{
				position:absolute;
				left:0;
				top:10px;
				.function-switch{
						width:50px;
						.btn{
								
						}
				}
				.item-list-wrapper{
						
				}
		}
		.welcome-option-box{
				width:90%;
				text-align:center;
				margin:auto;
				margin-top:200px;
				.btn{
						display:block;
						margin:auto;
						margin-top:30px;
				}
		}
}
