.shop-menu .left-section{position:absolute;left:0;top:10px}.shop-menu .left-section .function-switch{width:50px}
.shop-menu .welcome-option-box{width:90%;text-align:center;margin:auto;margin-top:200px}.shop-menu .welcome-option-box .btn{display:block;margin:auto;margin-top:30px}
